<h2>Template <small>- Dinámicos</small> </h2>
<hr>


<form (ngSubmit)="guardar()" #miFormulario='ngForm' autocomplete="off">
    <!-- Nombre -->
    <div class="mb-3 row">
        <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
            <input type="text" id="nombre" class="form-control" name="nombre" [ngModel]='persona.nombre'
                placeholder="Nombre de la persona..." required>
            <span class='form-text text-danger'
                *ngIf="miFormulario.controls['nombre']?.errors && miFormulario.controls['nombre']?.touched">
                Este campo es obligatorio
            </span>
        </div>
    </div>

    <!-- Agregar -->
    <div class="mb-3 row">
        <label for="nombre" class="col-sm-2 col-form-label">Agregar</label>
        <div class="col-sm-10">
            <div class="input-group">
                <input 
                    class="form-control" 
                    placeholder="Agregar favorito" 
                    [(ngModel)]="nuevoJuego" 
                    name="nuevoJuego" 
                    (keyup.enter)="agregarJuego()"
                    >
                <button class="btn btn-outline-primary" type="button" (click)="agregarJuego()">
                    Agregar
                </button>
            </div>
        </div>
    </div>

    <!-- Favoritos -->
    <div class="mb-3 row">
        <label for="nombre" class="col-sm-2 col-form-label">Favoritos</label>
        <div class="col-sm-10">
            <div class="input-group mb-1" *ngFor="let juego of persona.favoritos; let i = index">
                <input type="text" class="form-control" [(ngModel)]='juego.nombre' name="favorito_{{i}}">
                <button class="btn btn-outline-danger" type="button" (click)="eliminar(i)">Eliminar</button>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn btn-primary" (click)="guardar()" [disabled]="miFormulario.invalid">
                Guardar
            </button>
        </div>
    </div>
</form>


<div class="row">
    <div class="col">
        <span>Persona</span>
        <pre>{{persona | json}}</pre>
    </div>
</div>