<h2>Reactive <small>- Básicos</small></h2>
<hr>

<div class="row">
    <div class="col">

        <form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
            <!-- Producto -->
            <div class="mb-3 row">
                <label for="producto" class="col-sm-2 col-form-label">Producto</label>
                <div class="col-sm-10">
                    <input type="text" id="producto" class='form-control' placeholder="Nombre del producto..."
                        formControlName='nombre'>
                    <span class="form-text text-danger" *ngIf="campoEsValido('nombre')">Debe
                        de ser de 3 letras</span>
                </div>
            </div>

            <!-- Precio -->
            <div class="mb-3 row">
                <label for="precio" class="col-sm-2 col-form-label">Precio</label>
                <div class="col-sm-10">
                    <input type="number" id="precio" class='form-control' placeholder="Precio del producto..."
                        formControlName='precio'>
                    <span class="form-text text-danger" *ngIf="campoEsValido('precio')"> El precio debe de ser igual o
                        mayor a 0</span>
                </div>
            </div>

            <!-- Existencias -->
            <div class="mb-3 row">
                <label for="existencias" class="col-sm-2 col-form-label">Existencias</label>
                <div class="col-sm-10">
                    <input type="number" id="existencias" class='form-control' placeholder="Existencias del producto..."
                        formControlName='existencias'>
                    <span class="form-text text-danger" *ngIf="campoEsValido('existencias')"> Las existencias deben de ser
                        igual o
                        mayor a 0</span>
                </div>
            </div>

            <div class="row">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="submit">
                        Guardar
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{miFormulario.valid}}</pre>

        <span>Value</span>
        <pre>{{miFormulario.value | json}}</pre>

        <span>Pristine</span>
        <pre>{{miFormulario.pristine | json}}</pre>

        <span>Touched</span>
        <pre>{{miFormulario.touched | json}}</pre>
    </div>
</div>